@import "../../styles/variables";

.clients-dashboard {
  padding: 16px;
  font-size: $fontSizeBase;
  
  .clients-actions {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    .add-client {
      align-items: center;
      cursor: pointer;
      display: inline-flex;
      margin-right: 32px;

      svg {
        margin-left: 8px;
        color: $colorPrimary;
        font-size: 32px;
        transition: color $transitionTime;
      }
    }

    @media (max-width: #{$maxMobileWidth}) {
      .add-client {
        margin: -5px 0 0 0;
        font-size: 14px;
  
        &:hover {
          color: $colorPrimary;
        }
  
        svg {
          margin-left: 8px;
          color: $colorPrimary;
          font-size: 25px;
          transition: color $transitionTime;
        }
      }
    }
  }
}
