@import "../../styles/variables";

.clients {
  margin-top: 40px;

  .clients-header {
    display: flex;
    width: 100%;
    border-bottom: 1px solid $colorBlack15;
    height: 40px;
    font-weight: bold;

    .ch-name {
      width: 15%;
    }

    .ch-phone {
      width: 15%;
    }

    .ch-email {
      width: 15%;
    }

    .ch-contact {
      width: 5%;
    }

    .ch-allergies {
      width: 10%;
    }

    .ch-waiver {
      width: 5%;
    }

    .ch-history {
      width: 15%;
    }

    .ch-notes {
      width: 20%;
    }

    .ch-actions {
      padding: 8px;
      width: 130px;
    }
  }

  .client-table-row {
    display: flex;

    &:nth-child(odd) {
      background-color: $colorBlack5;
    }

    .client-actions {
      display: flex;
      align-items: center;
      padding: 8px;
      background-color: $colorWhite;

      .row-action {
        padding: 0 8px;
        cursor: pointer;

        &:hover {
          color: $colorPrimary;
        }
      }
    }

    .client-data {
      display: flex;
      width: 100%;
      height: 32px;
      align-items: center;
      text-decoration: none;
      color: inherit;

      &:hover {
        background-color: $colorBlack15;
      }

      .client-name {
        width: 15%;
      }

      .client-phone {
        width: 15%;
      }

      .client-email {
        width: 15%;
      }

      .client-contact {
        width: 5%;
      }

      .client-allergies {
        width: 10%;
      }

      .client-waiver {
        width: 5%;
      }

      .client-history {
        width: 15%;
      }

      .client-notes {
        width: 20%;
      }
    }
  }
}
