@import "../../styles/variables";

.admin-dashboard {
  padding: 16px;
  font-size: $fontSizeBase;

  .add-client {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    margin-top: 8px;

    svg {
      margin-left: 8px;
      color: $colorPrimary;
      font-size: 32px;
      transition: color $transitionTime;
    }
  }
}
