@import '../../styles/variables';

.app {
  margin: -8px;
  color: $colorFont;
  font-size: $fontSizeBase;
  font-weight: $fontWeightLight;
  letter-spacing: $letterSpacingBase;
  text-align: center;

  div {
    box-sizing: border-box;
  }
}
