@import "../../styles/variables";

.appointments-table {
  margin-top: 40px;

  .appointments-header {
    display: flex;
    width: 100%;
    border-bottom: 1px solid $colorBlack15;
    height: 40px;
    font-weight: bold;

    .ah-actions {
      width: 5%;
    }

    .ah-status {
      width: 15%;
    }

    .ah-date {
      width: 15%;
    }

    .ah-time {
      width: 15%;
    }

    .ah-service {
      width: 10%;
    }

    .ah-amount {
      width: 5%;
    }

    .ah-discount {
      width: 5%;
    }

    .ah-tip {
      width: 5%;
    }

    .ah-notes {
      width: 25%;
    }
  }

  .appointment-row {
    display: flex;

    &:nth-child(odd) {
      background-color: $colorBlack5;
    }

    .appointment-actions {
      display: flex;
      align-items: center;
      padding: 8px;
      background-color: $colorWhite;

      .row-actions {
        padding: 0 8px;
        cursor: pointer;
        color: $colorPrimary;

        &:hover {
          color: $colorPrimaryLight;
        }
      }
    }

    .appointment-data {
      display: flex;
      width: 100%;
      height: 32px;
      align-items: center;
      text-decoration: none;
      color: inherit;

      &:hover {
        background-color: $colorBlack15;
      }

      .appointment-actions {
        width: 5%;
      }

      .appointment-status {
        width: 15%;
      }

      .appointment-date {
        width: 15%;
      }

      .appointment-time {
        width: 15%;
      }

      .appointment-service {
        width: 10%;
      }

      .appointment-amount {
        width: 5%;
      }

      .appointment-discount {
        width: 5%;
      }

      .appointment-tip {
        width: 5%;
      }

      .appointment-notes {
        width: 25%;
      }
    }
  }
}
